@page
@model CollegeRoadSwimmingClub.Pages.Squads.Swimmers.DetailsModel

@{
    ViewData["Title"] = "Training profile";
}

<h1>Training profile</h1>
<div>
    @if (TempData["SquadId"] != null)
    {
        <a asp-page="../Details" asp-route-id="@TempData["SquadId"]">Back to Squad</a>
    }
    else
    {
        <a asp-page="../Index">Back to Squads</a>
    }

</div>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Gender)
        </dd>
        
    </dl>
</div>
<div>
    <h4>Training results</h4>
    <a asp-page="./Training/Create" asp-route-swimmerId="@Model.Member.Id">Add new training result</a>
    <hr/>
    <table class="table">
    <thead>
        <tr>
            <th>
                Event
            </th>
            <th>
                Time
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member.TrainingResults.OrderByDescending(t=> t.Date)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Training/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>


