@page
@model CollegeRoadSwimmingClub.Pages.Squads.Swimmers.Training.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingResult</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingResult.Swimmer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingResult.Swimmer.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingResult.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingResult.Event.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingResult.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingResult.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingResult.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingResult.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainingResult.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
