@page
@model CollegeRoadSwimmingClub.Pages.Galas.IndexModel

@{
    ViewData["Title"] = "Galas";
}

<h1>Galas</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gala[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gala[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gala[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gala[0].EndDate)
            </th>
            <th>
                Races
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gala) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Races.Count)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><text> | </text>
                }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Administrator"))
                {
                    <text> | </text><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
