@page
@model CollegeRoadSwimmingClub.Pages.Galas.Races.Results.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RaceResult</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceResult.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RaceResult.Race.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceResult.Swimmer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RaceResult.Swimmer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceResult.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RaceResult.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceResult.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RaceResult.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RaceResult.Id">Edit</a> |
    <a asp-page="../Details" asp-route-id="@Model.RaceResult.RaceId">Back</a>
</div>
