@page
@using CollegeRoadSwimmingClub.Models
@model CollegeRoadSwimmingClub.Pages.Squads.DetailsModel

@{
    ViewData["Title"] = "Details";
    TempData["SquadId"] = @Model.Squad.Id;
    TempData.Keep("SquadId");
}

<h1>Details</h1>

<div class="mb-4">
    <h4>@Html.DisplayFor(model => model.Squad.Name)</h4>
    <a asp-page="./Index">Back to List</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squad.Name)
        </dd>
        <dt class="col-sm-2">
            Number of Swimmers
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squad.NumberOfSwimmers)
        </dd>
    </dl>
    @if (Model.Squad.Coaches.Contains(Model.User.Self))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Squad.Id">Edit</a>
    }
</div>
<div class="mb-4">
    <h4>Coaches</h4>
    @if (Model.Squad.Coaches.Contains(Model.User.Self))
    {
        <a asp-page="./Coaches/Add" asp-route-squadId="@Model.Squad.Id">Add coach</a>
    }
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Squad.Coaches) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                        @if (Model.Squad.Coaches.Count > 1 && Model.Squad.Coaches.Contains(Model.User.Self))
                        {
                            <form method="post" asp-page="./Coaches/Remove" asp-route-squadId = "@Model.Squad.Id" asp-route-memberId = "@item.Id">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        }
                    </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div>
    
    <h4>Swimmers</h4>
    @if (Model.Squad.Coaches.Contains(Model.User.Self))
    {
        <a asp-page="./Swimmers/Add" asp-route-squadId="@Model.Squad.Id">Add swimmer</a>
    }
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Gender
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Squad.Swimmers) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                        @if (Model.Squad.Coaches.Contains(Model.User.Self))
                        {
                            <form method="post" asp-page="./Swimmers/Remove" asp-route-squadId = "@Model.Squad.Id" asp-route-memberId = "@item.Id">
                                <a asp-page="./Swimmers/Details" asp-route-id="@item.Id">Training Performance</a> |
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        }

                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
